.fond_qsn {
    background-color: rgb(242, 242, 242);
  }

.menuselection {
    width: 647pt;
    height: 78pt;
    size: 70;
    top: 198pt;
    bottom: 1003pt;
    right: 1066pt;
    left: 207pt;
    text-align : center;
    font-family: "Garamond";
    color: rgb(74, 74, 74);
}

.divqsn {
    left: 196pt;
    right: 1055pt;
    position:absolute;
    line-height: 30pt;
    text-align : left;
    width: 500pt;
    height: 547pt;
}

.textqsn {
    font-family: Helvetica, sans-serif;
    color: rgb(102, 102, 94);
    letter-spacing: 0px;
    size: 21;
    text-align: center;
}

@media screen and (min-width: 800px) {
    .imagepc {
        position: absolute;
        width: 300pt;
        top : 150pt;
        left: 850pt;
        right: 50pt;
    }
}
