.section7 img {
    right:0%;
}

.map-responsive {
    overflow:hidden;
    padding-bottom:56.25%;
    position:relative;
    height:0;
}

.section7 iframe{
    margin-left: 30%;
}

@media screen and (max-width: 500px) {
    .section7 iframe{
        margin-left: 0px;
    }
}