#map_canvas {
width: 100%;
height: 600px;
overflow: auto;
position: relative;
background-color: #D3D3D3; }

.contact_details {
text-align: left;
position: absolute;
padding-top: 140px;
padding-left: 200px;
right: 0;
margin: 3em 0;
z-index: 99;
width: 55%;
color: #fff; }

.contact_details a:hover{
    color: black;
}

.contact_details > div {
padding: 1.5em; }

.contact_details a {
font-weight: 700;
font-size: 1.2em; } 

.contact_details h2 {
font-size: 1.1em;
margin-bottom: 0; }

.contact_details h2 a { 
letter-spacing: normal;
text-transform: none;
font-weight: 200!important; }

.contact_details p {
margin-bottom: .5em; }

.contact_details a {
color: #ffffff; }

.contact_details h2 a span { 
display: inline-block;
background-size: 100%;
width: 10px;
height: 16px;
margin-right: .5em; }

.contact_details ul#address {
margin: 0;
padding: 0; }

.contact_details ul#address li { 
background-size: 10px 16px;
background-position: 0 4px;
display: inline-block;
list-style-type: none; 
padding: 0 10% 0 5%;
vertical-align: top; }

.contact_info {
display: inline-block;
font-weight: 700;
font-size: 1.2em;
margin-top: 1.2em;
vertical-align: top; }

.circle_icon {
width: 82px;
height: 82px;
border-radius: 41px;
font-size: 1em;
position: relative;
display: inline-block;
margin-right: .5em;
text-align: center;
transition: background .15s linear;
-webkit-transition: background  .15s linear;
-moz-transition: background  .15s linear; }

.circle_icon:hover {
background: rgba(224,147,30, 0.82);
transition: background .15s linear;
-webkit-transition: background  .15s linear;
-moz-transition: background  .15s linear; }

.circle_icon span {
margin: 0 auto;
margin-top: 25%;
width: 46px;
height: 40px;
background-size: cover;
background-repeat: no-repeat;
background-position: 50%;
display: inline-block;  }

.circle_icon.email span {
background-image: url("../Image/icon_email.png"); }

#content {
	margin-top: -100px;
	margin-bottom: 88px;
}

.adr {
	margin-bottom: 500px;
}