.carre {
    background-color: rgb(255, 0, 0);
    width: 1500px;
    height: 800px;
    padding-bottom: 30%;
    margin-top: auto;
    margin-left: auto;
    margin-right: auto;
}

.carre img{
    vertical-align: middle;
    width: 400px;
}

.ovlr {
    font-size: 40;
    text-align: center;
}

.poulet-center {
	position: absolute;
	top: 0;
	bottom: 0;
	right: 0;
	left: 0;
	display: flex;
	justify-content: center;
	align-items: center;
}
.poulet-center p {
	font-size: 24px;
	color: #fff;
	text-align: center;
	padding-left: 30px;
	padding-right: 30px
}

/* .imgpoulet {
    vertical-align: middle;
    width: 400px;
    margin-top: 50%;
    margin-bottom: 50%;
}    */
